
body {
	background-image:
		url(" https://1.bp.blogspot.com/-PaxCojM0Hcc/T5yz8FLCW3I/AAAAAAAAB5U/h-7lNS3K-Po/s1600/DSC_0329.JPG");
}

.form-container {
	background: rgba(0,0,0,.5);
	/* border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000; */
}
