<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>testXML</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.project1.servlet.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>*.change</url-pattern>
    <url-pattern>/api/*</url-pattern>
    <url-pattern>/MasterServlet</url-pattern>
    <url-pattern>/wumpus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.project1.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.project1.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdServlet</display-name>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.project1.servlet.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/AdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.project1.controllers.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.project1.controllers.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableEmployeeServlet</display-name>
    <servlet-name>TableEmployeeServlet</servlet-name>
    <servlet-class>com.project1.servlet.TableEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableEmployeeServlet</servlet-name>
    <url-pattern>/TableEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeControllerPage</display-name>
    <servlet-name>EmployeeControllerPage</servlet-name>
    <servlet-class>com.project1.controllers.EmployeeControllerPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeControllerPage</servlet-name>
    <url-pattern>/EmployeeControllerPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServletPage</display-name>
    <servlet-name>AdminServletPage</servlet-name>
    <servlet-class>com.project1.servlet.AdminServletPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServletPage</servlet-name>
    <url-pattern>/AdminServletPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeEmployee</display-name>
    <servlet-name>homeEmployee</servlet-name>
    <servlet-class>com.project1.servlet.homeEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeEmployee</servlet-name>
    <url-pattern>/homeEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeMain</display-name>
    <servlet-name>EmployeeMain</servlet-name>
    <servlet-class>com.project1.servlet.EmployeeMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeMain</servlet-name>
    <url-pattern>/EmployeeMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMain</display-name>
    <servlet-name>AdminMain</servlet-name>
    <servlet-class>com.project1.servlet.AdminMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMain</servlet-name>
    <url-pattern>/AdminMain</url-pattern>
  </servlet-mapping>
</web-app>