<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloFrontController</display-name>
  <welcome-file-list>
    <welcome-file>resources/html/login.html</welcome-file>
  </welcome-file-list>
  
  <!-- Forwarding Master Servlet -->
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.example.servlets.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>*.change</url-pattern>
    <url-pattern>/api/*</url-pattern>
    <url-pattern>/MasterServlet</url-pattern>
    <url-pattern>/wumpus</url-pattern>
  </servlet-mapping>
  
  <!-- JSON Master Servlet -->
  <servlet>
    <servlet-name>JSONMasterServlet</servlet-name>
    <servlet-class>com.example.JSONmasterservlet.JSONMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONMasterServlet</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
</web-app>